.search-text {
  width: 100%;
  padding: 40px;
  background-color: rgba(0, 100, 0, 0.6);
  display: flex;
  justify-content: center;

  & > button {
    font-size: 24px;
    color: red;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
}
